.image {
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.image img {
    width: 200px;
    height: 200px;
    text-align: center;
}

#wrapper {
    margin-top: 50px;
    max-width: 1000px;
}


